/* Animation css */
[class*=animation-] {
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both
}

@keyframes show {
  0% {
    transform: translateY(-50px);
  }

  60% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes show01 {
  0% {
    // transform: translateY(-50px);
    transform: scale(1.2);
    // top: -50px
    // height: 300px;
  }
  50% {
    // top: 50px
    // transform: translateY(-50px);
    // transform: translateY(-50px);
    // height: 400px;
    transform: scale(0.8);

  }
  100% {
    // transform: translateY(0);
    // transform: translateY(0);
    // top: 0
    // height: 300px;
    transform: scale(1);
  }
}

.animation_avart {
  animation: avart01 1s ease;
  transform-origin: left top;
}

@keyframes avart {
  0% {
    transform: scale(1.2, 1.4)
  }
  50% {
    transform: scale(0.9, 0.8)
  }
  100% {
    transform: scale(1, 1)
  }
}

@keyframes avart01 {
  0% {
    transform: rotate(80deg)
  }
  60% {
    transform: rotate(-25deg)
  }
  100% {
    transform: rotate(0)
  }
}

.animation-shake {
  animation-name: shake
}

@keyframes shake {

  0%,
  100% {
      transform: translateX(0)
  }

  10% {
      transform: translateX(-9px)
  }

  20% {
      transform: translateX(8px)
  }

  30% {
      transform: translateX(-7px)
  }

  40% {
      transform: translateX(6px)
  }

  50% {
      transform: translateX(-5px)
  }

  60% {
      transform: translateX(4px)
  }

  70% {
      transform: translateX(-3px)
  }

  80% {
      transform: translateX(2px)
  }

  90% {
      transform: translateX(-1px)
  }
}