// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$red: red;

// out: false

// Basic Colors
$black: #000;
$white: #fff;
$red: #D84949;
$blue: #3080FE;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$yellow: #E6A23C;
$green: #29B026;
$gray: #c8c9cc;
$gray-light: #e5e5e5;
$gray-darker: #7d7e80;
$gray-dark: #969799;

// Component Colors
$text-color: #323233;
$border-color: #ebedf0;
$active-color: #f2f3f5;
$background-color: #F3F5F7;
$background-color-light: #fafafa;

$color-light-blue:          #6EAEFD;


$card-shadow: 0 10px 20px 0 rgba(2,122,253,0.15);
$box-shadow: 0 15px 30px 0 rgba(173,182,222,0.20);
$box-shadow-short: 0 5px 5px 0 rgba(173,182,222,0.20);


$transition: all .5s cubic-bezier(0.51, 0, 0.1, 0.97);

